:root {
    --yellow: #FFB045;
    --red: #D3461C;
    --blue:#212529;
    --white: #F8F8F8;
}

html, body {
    height: 100%;
    margin: inherit;
    background: var(--white);
  }

#clientsmain {
  margin-top: 100px !important;
  margin-bottom: 25px !important;
  text-align: center;
}

#clientsmain h2 {
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#clientsmain p {
  color: gray;
}

#client-cards {
  margin-bottom: 50px !important;
}
.client-cards {
  width: 90% !important;
  min-height: 150px !important;
}

.card {
  height: 100% !important;
}

.card-img {
  text-align: center;
  padding-top: 25px;
}

.card-img img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-text {
  color: rgba(0,0,0,0.6) !important;
}

.card-footer {
  background: none;
  border: none;
  text-align: center;
}

.card-footer .client-name {
  font-weight: bold;
  color: var(--blue);
}

.card-footer .client-position {
  color: rgba(0,0,0,0.6);
  font-size: 15px;
  font-style: italic;
}

.card-footer .client-company {
  text-transform: uppercase;
  color: var(--red);
  font-style: normal;
}

.card-footer .client-company:hover {
  text-decoration: none;

}


@media (max-width: 767px) {
  .col-md-4 {
    margin: 1em 0;
  }
}
