html, body {
    height: 100%;
    margin: inherit;
  }
  
#clients-page-main {
    min-height: 650px;
    height: 700px;
    background: url("../imgs/clients.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgba(24,43,58, 0.8);
}

#clients-page-main h2 {
    color: white;
    text-align: center;
    margin-top: 2em;
}

#clients-page-main p {
    color: white;
    text-align: center;
    font-size: 1.25em;
}

@media (max-width: 320px) {
    h2.display-2 {
        font-size: 300% !important;
    }
}
@media (max-width: 375px) {
    h2.display-2 {
        font-size: 300%;
    }
}