:root {
    --yellow: #FFB045;
    --red: #D3461C;
    --blue:#212529;
    --white: #F8F8F8;
}

html, body {
    height: 100%;
    margin: inherit;
    background: var(--white);
  }

#clientsmain {
  margin-top: 100px !important;
  margin-bottom: 25px !important;
  text-align: center;
}

#clientsmain h2 {
  color: var(--blue);
  text-transform: uppercase;
  letter-spacing: 2px;
}

#clientsmain p {
  color: gray;
}

#client-cards {
  margin-bottom: 50px !important;
}
.client-cards {
  width: 100% !important;
  min-height: 150px !important;
}

.col-md-4 {
  height: 100% !important;
}

.card {
  height: 60% !important;
}

.card-body {
  min-height: 130px !important;
  text-align: center;
}

.card-img-top {
  height: 250px;
}
.card-title {
  text-transform: uppercase;
  font-size: 15px;
  color: var(--blue);
}

.floatingCall {
  position: fixed;
  width: 10%;
	bottom:20px;
  height: 5% !important;
	right: 30px;
  border-radius: 1em;
	background-color:var(--red);
	color:#FFF;
  text-align:center;
  font-size: 100%;
  box-shadow: 1px 1px 2px #999;
}

.floatingCall:hover {
  cursor: pointer;
}

.modal-header {
  text-align: center !important;
  color: var(--red);
}

@media(max-width:768px) {
  .floatingCall {
    width: 15% !important;
    height:auto !important;
  }
}
@media(max-width: 425px) {
  .floatingCall {
    font-size: 20% !important;
    height:auto !important;
  }
}
@media(max-width:1024px) {
  .floatingCall {
    width: 15% !important;
    height: 5% !important;
  }
}

@media (max-width: 767px) {
  .col-md-4 {
    margin: 1em 0;
  }
}
