html, body {
  height: 100%;
  margin: inherit;
}

header {
  background-image: url("../imgs/hero-image.jpg");
  box-shadow:inset 0 0 0 2000px rgba(24,43,58, 0.7);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70%;
}


.bg-dark {
  background-color: transparent !important;
  transition: all ease-in .3s !important;
  height: 100px;
  font-size: 18px !important;
}


.bg-dark.scrolled {
  background-color: #182B3A !important;
  margin-top: 0;
  transition: all ease-out .3s !important;
  height: 50px;
  font-size: 15px !important;
}

#hero .jumbotron {
  background: none;
  color: white;
}

.hero-title {
  font-family: 'arvo', sans-serif;
  font-weight: bold;
  color: rgba(255,255,252, 0.8);
  text-align: center;
  /*-webkit-text-stroke: 2px #FDFFFC;*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.hero-tagline {
  text-align: center;
  font-family: "arvo", sans-serif;
  /*color: rgba(255,255,252, 0.8);*/
  color: #FFB045;
}




.btn-outline-primary {
  color: white;
  font-size: 15px;
  transition: all ease-in-out .3s;
  border: none;
}

.btn-outline-primary:hover{
  border: none !important;
  background: #D3461C !important;
  border-radius: 0;
}

.fa-chevron-right {
  transition: all ease-in-out .3s;
}

.btn-outline-primary:hover .fa-chevron-right {
  margin-left: 5px;
}


#main {
  background-color: #FDFFFC;
  margin-bottom: 20px;
}

.main-icons {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
}
.main-icons img {
  height: 100px;
  width: 100px;
}

#main h2 {
  text-align: center;
  font-size: 2em;
}


.display-2 {
  font-size: 6vw !important;
}
.display-4 {
  font-size: 4vw !important;
}

#services {
  position: static;
}


.jumbotron {
  background: transparent;
}


.card {
  border: none;
  height: 200px;
  background: none;
  width: 100%;
  margin: inherit;
  transition: all ease-in-out .3s;
}

/*.s1, .s2, .s4, .s5 {*/
/*  border-right: 1px dashed #D3461C;*/
/*}*/
/*.s1, .s2, .s3 {*/
/*  border-bottom: 1px dashed #D3461C;*/
/*}*/

#services-section-1 {
  background: #f0a847;
  color: #182B3A;
  padding: 2em 0;
}

.display-3 {
  font-family: "arvo", sans-serif !important;
  font-weight: bold;
}

#services-section-1 p {
  font-size: 1.25em;
}
#services-section-2 {
  margin: 5% auto;

}

.service-item {
  padding: 1.5em 2em 1em 2em;
  text-align: center;
}
.service-item h6 {
  color: #D3461C;
}

td .icons {
  margin: .5em .75em;
  font-size: 3em;
  text-align: center;
}


.service-icons {
  /*margin-top: 6em;*/
  vertical-align: middle;
}

.s1:hover, .s2:hover, .s3:hover,
.s4:hover, .s5:hover, .s6:hover {
  /*background: #D3461C;*/
  /*color: #FDFFFC;*/
  transition: all ease-in-out .3s;
  border-color: #FDFFFC;
  border-top-right-radius: 5em;
  border-bottom-left-radius: 5em;
}

.service-item h5 {
  transition: transform ease-in-out .3s;
  margin-bottom: 1em;
  font-size: 2em;
}

.service-item:hover h5 {
  transform: scale(1.2) rotate(360deg);
}

.service-item:hover h6 {
  /*color: #FDFFFC;*/
}

#designs {

}

#designs h2 {
  color: #FDFFFC !important;
}

#designs p {
  color: #f0a847;
}

#designs .first-row {
  background: url("../imgs/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(24,43,58, .9);
  height: 200px !important;
}


.temps {
  text-align: center;
  margin: auto auto;
  padding-top: 20px;
  margin-bottom: 2.5%;
}

.img-thumbnail {
  background: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border: none !important;
  transition: all ease-in-out .4s;
  opacity: 1;
  z-index: 2 !important;
  margin: .5em 0;
}



figcaption {
  position: absolute;
  opacity: 0;
  transition: all ease-in-out .4s;
  color: #D3461C;
  font-weight: bold;
  text-transform: uppercase; 
}


.design-cols {
  margin: 0;
  height: 250px;
}
.img-thumbnail {
  height: 80%;
}

.design-cols:hover .img-thumbnail {
  opacity: 0.5;
  transform: scale(1.1);
  margin-bottom: 15px;
}
  
.design-cols:hover figcaption {
  opacity: 1;
  margin-top: 15px;
}

#designs .jumbotron {
  height: inherit !important;
  margin: auto 0;
}

#designs  .display-3 {
  margin-top: -2%;
}

#pricing  {
  margin-top: 5%;
}

hr {
  width: 50px;
  height: 3px;
  color: #D3461C;
  background: red;
  border-radius: 5px;
}

.card {
  height: 0  !important;
}
.card-body {
  padding: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 550px !important;
}

.card-title {
  font-size: 15px;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: #FDFFFC;
}

.card-subtitle{
  text-align: center;
  padding: 40px 0 !important;
  margin-top: 0;
  font-size: 5em;
  font-weight: bold;
  color: #FDFFFC !important;
}

.price-card {
  padding: 0 1em !important;
}

sup {
  font-size: .5em !important;
  font-weight: 400;
  top: -1em;
}

.price-per-month {
  font-size: 16px !important;
  font-weight: 400;
}

.price-card small {
  color: #FDFFFC;
  margin: 0 auto;
  justify-content: center;
}

.price-card-main {
  height: 250px;
}

.price-card p:nth-of-type(1) {
  text-align: center;
  color: #FDFFFC;
}

.price-services-1 {
  margin-top: 1em;
}

.price-services-1 ul {
  line-height: 2em;
  list-style: none;
}

.price-services-1 li:before {
  content: "\2713";
  margin: .5em 1em .5em 0;
  padding: .2em .45em;
  font-weight: bold;
  color: #182B3A;
}

.price-services-2 {
  margin-top: 1em;
}

.price-services-2 ul {
  line-height: 2em;
  list-style: none;
}

.price-services-2 li:before {
  content: "\2713";
  margin: .5em 1em .5em 0;
  padding: .2em .45em;
  font-weight: bold;
  color: #D3461C;
}

#service-detail a {
  color: #D3461C;
  font-weight: bold;
  transition: all .2s;
}

#service-detail a:hover {
  transform: scale(1.1);
  text-decoration: none;
}


#about  {
  height: 500px;
  margin-top: 5%;
  
}

