html, body {
  height: 100%;
  margin: inherit;
}

header {
  background-image: url("../imgs/hero-image.jpg");
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 85%;
}

nav {
  margin-top: 3%;
}

.bg-dark {
  background-color: transparent !important;
  transition: all ease-in .3s;
  margin-top: 3%;
}


.bg-dark.scrolled {
  background-color: rgba(0,0,0, 0.7) !important;
  margin-top: 0;
  transition: all ease-out .3s;
}

#hero .jumbotron {
  background: none;
  color: white;
}

.hero-title {
  color: #D3461C;
}

.hero-sub {
  color: white;
}

.hero-text {
  text-shadow: 0px -0px 30px rgba(0,0,0, 0.75);
  color: white;
}

#hero {
  margin-top: 20%;
}

.btn-outline-primary {
  color: white;
  font-size: 15px;
  transition: all ease-in-out .3s;
  border: none;
}

.btn-outline-primary:hover{
  border: none !important;
  background: #D3461C !important;
}

.fa-chevron-right {
  transition: all .3s;
}

.btn-outline-primary:hover .fa-chevron-right{
  margin-left: 10px;
}