html, body {
  height: 100%;
  margin: inherit;
}

header {
  background-image: url("../imgs/hero-image.jpg");
  box-shadow:inset 0 0 0 2000px rgba(24,43,58, 0.7);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70%;
}


.bg-dark {
  background-color: transparent !important;
  transition: all ease-in .3s !important;
  height: 100px;
  font-size: 18px !important;
}


.bg-dark.scrolled {
  background-color: #182B3A !important;
  margin-top: 0;
  transition: all ease-out .3s !important;
  height: 50px;
  font-size: 15px !important;
}

#hero .jumbotron {
  background: none;
  color: white;
}

.hero-title {
  font-family: 'arvo', sans-serif;
  font-weight: bold;
  color: rgba(255,255,252, 0.8);
  text-align: center;
  /*-webkit-text-stroke: 2px #FDFFFC;*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}

.hero-tagline {
  text-align: center;
  font-family: "arvo", sans-serif;
  /*color: rgba(255,255,252, 0.8);*/
  color: #FFB045;
}



#hero {
  margin-top: 20%;
}

.btn-outline-primary {
  color: white;
  font-size: 15px;
  transition: all ease-in-out .3s;
  border: none;
}

.btn-outline-primary:hover{
  border: none !important;
  background: #D3461C !important;
  border-radius: 0;
}

.fa-chevron-right {
  transition: all ease-in-out .3s;
}

.btn-outline-primary:hover .fa-chevron-right {
  margin-left: 5px;
}


#main {
  /*height: 30%;*/
  background-color: #FDFFFC;
}

.main-icons {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
}
.main-icons img {
  height: 100px;
  width: 100px;
}

#main h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 5px;
}


.display-2 {
  font-size: 6vw !important;
}
.display-4 {
  font-size: 4vw !important;
}

#services {
  height: 100%;
  position: static;
}


.jumbotron {
  background: transparent;
}


.card {
  border: none;
  height: 200px;
}

.s1, .s2, .s4, .s5 {
  border-right: 2px solid #D3461C;
}
.s1, .s2, .s3 {
  border-bottom: 2px dashed #D3461C;
}

#services-section-1 {
  background: #f0a847;
  color: #182B3A;
  padding: 2em 0;
}

#services-section-1 .display-3 {
  font-family: "arvo", sans-serif !important;
  font-weight: bold;
}

#services-section-1 p {
  font-size: 1.25em;
}
#services-section-2 {
  margin: 5% auto; 
}