html, body {
  height: 100%;
  margin: inherit;
}


/* NAVBAR */
.bg-dark {
  background-color: rgb(24,43,58) !important;
  transition: all ease-in .3s !important;
  font-size: 18px !important;
  min-height: 100px !important;
  margin-bottom: 20px !important;
  transition: all .3s;
}
.bg-dark.scrolled {
  background-color: rgba(24,43,58, 0.9) !important;
  color: #182B3A !important;
  margin-top: 0;
  transition: all ease-out .3s !important;
  font-size: 15px !important;
  min-height: 80px !important;
  transition: ease-in-out all .3s;
}

.nav-link {
  color: rgb(255,176,69) !important;
}

.nav-link.scrolled {
  color: rgb(255,176,69) !important;
}

/* HEADER */
header {
  background-image: url("../imgs/hero-image.jpg");
  box-shadow:inset 0 0 0 2000px rgba(24,43,58, 0.7);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 70%;
}

#hero .jumbotron {
  background: none;
  color: white;
}
.hero-title {
  font-family: 'arvo', sans-serif;
  font-weight: bold;
  color: rgba(255,255,252, 0.8);
  text-align: center;
  /*-webkit-text-stroke: 2px #FDFFFC;*/
  /*-webkit-background-clip: text;*/
  /*-webkit-text-fill-color: transparent;*/
}
.hero-tagline {
  text-align: center;
  font-family: "arvo", sans-serif;
  /*color: rgba(255,255,252, 0.8);*/
  color: #FFB045;
}
.btn-outline-primary {
  color: white;
  font-size: 15px;
  transition: all ease-in-out .3s;
  border: none;
}
.btn-outline-primary:hover{
  border: none !important;
  background: #D3461C !important;
  border-radius: 0;
}
.fa-chevron-right {
  transition: all ease-in-out .3s;
}
.btn-outline-primary:hover .fa-chevron-right {
  margin-left: 5px;
}



/* MAIN */
#main {
  background-color: #FDFFFC;
  margin-bottom: 20px;
}

.main-icons {
  text-align: center;
  margin-top: 2em;
  padding-top: 2em;
}
.main-icons img {
  height: 100px;
  width: 100px;
}

#main h2 {
  text-align: center;
  font-size: 2em;
}



/* SERVICES */
#services {
  position: static;
}


.jumbotron {
  background: transparent;
}


.card {
  border: none;
  height: 200px;
  background: none;
  width: 100%;
  margin: inherit;
  transition: all ease-in-out .3s;
}

/*.s1, .s2, .s4, .s5 {*/
/*  border-right: 1px dashed #D3461C;*/
/*}*/
/*.s1, .s2, .s3 {*/
/*  border-bottom: 1px dashed #D3461C;*/
/*}*/

#services-section-1 {
  background: #f0a847;
  color: #182B3A;
  padding: 2em 0;
}

.display-3 {
  font-family: "arvo", sans-serif !important;
  font-weight: bold;
}

#services-section-1 p {
  font-size: 1.25em;
}
#services-section-2 {
  margin: 5% auto;

}

.service-item {
  padding: 1.5em 2em 1em 2em;
  text-align: center;
}
.service-item h6 {
  color: #D3461C;
}

td .icons {
  margin: .5em .75em;
  font-size: 3em;
  text-align: center;
}


.service-icons {
  /*margin-top: 6em;*/
  vertical-align: middle;
}

.s1:hover, .s2:hover, .s3:hover,
.s4:hover, .s5:hover, .s6:hover {
  /*background: #D3461C;*/
  /*color: #FDFFFC;*/
  transition: all ease-in-out .3s;
  border-color: #FDFFFC;
  border-top-right-radius: 5em;
  border-bottom-left-radius: 5em;
}

.service-item h5 {
  transition: transform ease-in-out .3s;
  margin-bottom: 1em;
  font-size: 2em;
}

.service-item:hover h5 {
  transform: scale(1.2) rotate(360deg);
}

.service-item:hover h6 {
  /*color: #FDFFFC;*/
}

/* DESIGNS */
#designs h2 {
  color: #FDFFFC !important;
}

#designs p {
  color: #f0a847;
}

#designs .first-row {
  background: url("../imgs/hero-image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 2000px rgba(24,43,58, .9);
  height: 200px !important;
}


.temps {
  text-align: center;
  margin: auto auto;
  padding-top: 20px;
  margin-bottom: 2.5%;
}

.img-thumbnail {
  background: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  border: none !important;
  transition: all ease-in-out .4s;
  opacity: 1;
  z-index: 2 !important;
  margin: .5em 0;
}

.design-cols {
  margin: 0;
  height: 250px;
}
.img-thumbnail {
  height: 80%;
}

.design-cols:hover .img-thumbnail {
  opacity: 0.5;
  transform: scale(1.1);
  margin-bottom: 15px;
}

.design-cols:hover figcaption {
  opacity: 1;
  margin-top: 15px;
}

#designs .jumbotron {
  height: inherit !important;
  margin: auto 0;
}

#designs  .display-3 {
  margin-top: -2%;
}


/* PRICING */
#pricing  {
  margin-top: 5%;
}

hr {
  width: 90%;
}

#pricing .card-one {
  min-height: 270px;
  background: rgb(24,43,58);
  color: #FDFFFC;
}

.card-one .card-title {
  font-size: 300% !important;
}
#pricing .card-two {
  min-height: 270px;
  background: #D3461C;
  color: #FDFFFC;
}

.card-body {
  min-height: 200px !important;
}

#pricing .card-subtitle {
  color: rgba(255,255,255, 0.5) !important;
}

#pricing .card-link {
  color: #f0a847;
}

.price-name {
  height:50px;
}

#pricing .card-title {
  font-size: 200%;
  height: 80px;
  vertical-align: middle !important;
}
/* ABOUT */

/* CONTACT US */
#contact {
  min-height: 500px !important;
  padding-top: 2%;
  text-align: center;
  margin-bottom: 
}


#contact .col-lg-6 {
  text-align: center;
  margin-top: 20px;
}

.con-icons {
  font-size: 60px;
  color: rgb(24,43,58) !important;
  margin-bottom: 5px;
}

.con-txt {
  font-size: 20px;
  padding-top: 5px;
  color: rgb(24,43,58);
  -webkit-transition: all ease-in .2s;
  -moz-transition: all ease-in .2s;
  -ms-transition: all ease-in .2s;
  -o-transition: all ease-in .2s;
  transition: all ease-in .2s;
}

.con-txt:hover {
  color: #D3461C; !important;
  text-decoration: none;
}
/* FOOTER */
#footer {
  min-height: 400px;
  padding-top: 20px !important;
  background: url("../imgs/hero-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow:inset 0 0 0 2000px rgba(24,43,58, 0.8);
  color: #FDFFFC;
}

#footer .text-muted {
  color: rgba(255,255,255, 0.5) !important;
}

#footer .text-muted:hover {
  text-decoration: none;
  color: rgba(255,255,255, 0.8) !important;
}
