html, body {
  height: 100%;
  margin: inherit;
}

#services-page-main {
  margin-top: 5%;
  min-height: 900px;
  margin-bottom: 5%;
}

#services-page-main .card {
  min-height: 270px !important;
  height: auto;
  border-radius: .25em;
  border: 1px solid rgba(0,0,0,0.1);
}

.second-row {
  margin-top: 5%;
}

#services-page-main .shadow {
  box-shadow: 0 0.1rem 2rem rgba(0,0,0,0.1)!important;
}

#services-page-main .card-title {
  font-size: 300%;
  color: #D3461C;
}

#services-page-main .card:hover {
  box-shadow: 0 0.7rem 2rem rgba(0,0,0,0.15) !important;
}


.card-icon {
  min-height: 70px !important;
}

.card-title-text {
  min-height: 30px !important;
}


.service-card-link {
  color: rgb(24,43,58);
}
.service-card-link:hover {
  color: rgb(24,43,58);
  text-decoration: none;
}

.floatingCall {
  position: fixed;
  width: 10%;
	bottom:20px;
  height: 5% !important;
	right: 30px;
  border-radius: 1em;
	background-color:var(--red);
	color:#FFF;
  text-align:center;
  font-size: 100%;
  box-shadow: 1px 1px 2px #999;
}

.floatingCall:hover {
  cursor: pointer;
}

.modal-header {
  text-align: center !important;
  color: var(--red);
}

@media(max-width:768px) {
  .floatingCall {
    width: 15% !important;
    height:auto !important;
  }
}
@media(max-width: 425px) {
  .floatingCall {
    font-size: 20% !important;
    height:auto !important;
  }
}
@media(max-width:1024px) {
  .floatingCall {
    width: 15% !important;
    height: 5% !important;
  }
}

@media (max-width: 767px) {
  #services-page-main .card {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    box-shadow: none;
    border: 1px solid rgba(0,0,0,0.1);
  }
  #services-page-main .jumbotron .display-2 {
    font-size: 400% !important;
  }
  #services-page-main .jumbotron {
    margin-top: 15%;
  }
}
@media (max-width: 425px) {
  #services-page-main .jumbotron .display-2 {
    font-size: 300% !important;
  }
}

.jumbotron {
  margin-bottom: -20px;
}
#services-page-main .card-subtitle {
  color: rgb(24,43,58) !important;
}
